@model IReadOnlyList<Ecommerce3.Contracts.DTOs.TextListItem.TextListItemDTO>
@{
    var type = ViewData["TextListType"]!;
    var tableId = $"textlist{type}";
    var editModalId = $"edit{type}Modal";
    var deleteModalId = $"delete{type}Modal";
}
<tbody id="@tableId">
@foreach (var item in Model)
{
    <tr data-id="@item.Id">
        <td>@item.Text</td>
        <td class="text-end">@item.SortOrder</td>
        <td class="text-end">
            @item.CreatedAppUserFullName <br />
            @item.CreatedAt.ToString("dd-MMM-yyyy HH:mm")
        </td>
        <td class="text-center">
            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#@editModalId" data-tli-id="@item.Id">
                <i class="fas fa-edit me-2 fs-6 text-success"></i>
            </a>
            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#@deleteModalId" data-tli-id="@item.Id" data-tli-text="@item.Text">
                <i class="fas fa-trash fs-6 text-danger"></i>
            </a>
        </td>
    </tr>
}
</tbody>