@model Ecommerce3.Admin.ViewModels.ProductGroup.ProductGroupsIndexResponse

<div class="content-section">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <!-- Left side: Heading -->
        <h2 class="text-danger fw-bold fs-3 mb-0">@Model.PageTitle</h2>

        <!-- Right side: button -->
        <div class="d-flex gap-2">
            <a class="btn btn-primary" asp-controller="ProductGroups" asp-action="Add">
                <i class="fas fa-plus"></i> Add New
            </a>
            <!-- Add more button here -->
        </div>
    </div>

    <!-- Main Content -->
    <form method="get" asp-controller="ProductGroups" asp-action="Index">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label class="form-label fw-bold" asp-for="Filter.Name">Name:</label>
                        <input type="text" class="form-control" asp-for="Filter.Name" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold" asp-for="Filter.Slug">Slug:</label>
                        <input type="text" class="form-control" asp-for="Filter.Slug" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold" asp-for="Filter.Display">Display:</label>
                        <input type="text" class="form-control" asp-for="Filter.Display" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold" asp-for="Filter.Breadcrumb">Breadcrumb:</label>
                        <input type="text" class="form-control" asp-for="Filter.Breadcrumb" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label class="form-label fw-bold" asp-for="Filter.AnchorText">Anchor Text:</label>
                        <input type="text" class="form-control" asp-for="Filter.AnchorText" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold" asp-for="Filter.AnchorTitle">Anchor Title:</label>
                        <input type="text" class="form-control" asp-for="Filter.AnchorTitle" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold">Is Active:</label>
                        <select class="form-select" asp-for="Filter.IsActive">
                            <option value="" selected="selected">Any</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-end">
                        <a href="@Url.Action("Index", ViewContext.RouteData.Values["controller"]!.ToString())" class="btn btn-outline-danger px-4 me-2">
                            <i class="fas fa-undo"></i> Reset
                        </a>
                        <button type="submit" class="btn btn-primary px-4">
                            <i class="fas fa-filter"></i> Filter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
               <table class="table align-middle">
                <thead>
                    <tr>
                        <th style="width: 65%;">Name/Slug</th>
                        <th class="text-end" style="width: 10%;">Sort Order</th>
                        <th class="text-end" style="width: 5%;">Images</th>
                        <th class="text-end" style="width: 15%;">Created</th>
                        <th class="text-center" style="width: 5%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var productGroup in Model.ProductGroups.Data)
                {
                    <tr>
                        <td>
                            @productGroup.Name <span class="badge @(productGroup.IsActive ? "bg-success" : "bg-danger") ms-2"> </span><br/>
                            <span class="text-muted">@productGroup.Slug</span>
                        </td>
                        <td class="text-end">@productGroup.SortOrder</td>
                        <td class="text-end">@productGroup.ImageCount</td>
                        <td class="text-end">@productGroup.CreatedUserFullName <br/>@productGroup.CreatedAt.ToString("dd-MMM-yyyy HH:mm tt")</td>
                        <td class="text-center">
                            <a asp-controller="ProductGroups"
                               asp-action="Edit"
                               asp-route-id="@productGroup.Id"
                               class="text-decoration-none">
                                <i class="fas fa-edit me-2 fs-6 text-success"></i>
                            </a>
                            <a href="#" 
                               class="delete-brand-btn text-decoration-none"
                               data-bs-toggle="modal"
                               data-bs-target="#deleteBrandModal"
                               data-brand-id="@productGroup.Id"
                               data-brand-name="@productGroup.Name"><i class="fas fa-trash fs-6 text-danger"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            </div>
            <!-- Pagination + Page Size -->
            <div class="d-flex justify-content-between align-items-center mt-3">
                <!-- Left: Page Size -->
                <div class="text-muted">
                    Displaying @Model.ProductGroups.Data.Count of @Model.ProductGroups.TotalItems records
                </div>

                <!-- Right: Pagination -->
                <nav>
                    <cs-pager cs-pager-ul-class="pagination mb-0"
                              cs-pager-li-current-class="page-item active"
                              cs-pager-li-other-class="page-item"
                              cs-pager-link-current-class="page-link"
                              cs-pager-link-other-class="page-link"
                              cs-show-first-last="true"
                              cs-show-disabled-page-items="true"
                              cs-first-page-text="<i class='fas fa-angles-left'></i>"
                              cs-last-page-text="<i class='fas fa-angles-right'></i>"
                              cs-previous-page-html="<li class='page-item'><a href='#' class='page-link'><i class='fas fa-chevron-left'></i></a></li>"
                              cs-next-page-html="<li class='page-item'><a href='#' class='page-link'><i class='fas fa-chevron-right'></i></a></li>"
                              cs-paging-pagesize="@Model.ProductGroups.PageSize"
                              cs-paging-pagenumber="@Model.ProductGroups.PageNumber"
                              cs-paging-totalitems="@Model.ProductGroups.TotalItems"
                              cs-pagenumber-param="pageNumber"
                              asp-controller="ProductGroups"
                              asp-action="Index">
                    </cs-pager>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Delete Category Modal -->
<div class="modal fade" id="deleteProductGroupModal" tabindex="-1" aria-labelledby="deleteProductGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header text-danger">
                <h5 class="modal-title">
                    <i class="fas fa-trash"></i> Delete Product Group
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p class="text-muted">
                    Are you sure you want to delete the product group <span class="text-danger">iPhone 17</span>?
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" asp-controller="ProductGroups" asp-action="Delete" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
