@using Ecommerce3.Domain.Enums
@model Ecommerce3.Admin.ViewModels.Product.AddProductViewModel
<div class="content-section" xmlns="http://www.w3.org/1999/html">
    <form method="post" asp-controller="Products" asp-action="Add" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="d-flex justify-content-between align-items-center mb-2">
            <!-- Left side: Heading -->
            <h2 class="text-danger fw-bold fs-3 mb-0">Add Product</h2>
        </div>

        <!-- Identification -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-eye"></i> Identification</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="@Model.SKU"></label>
                            <input class="form-control" asp-for="@Model.SKU"/>
                            <span class="text-danger" asp-validation-for="@Model.SKU"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.GTIN"></label>
                            <input class="form-control" asp-for="@Model.GTIN"/>
                            <span class="text-danger" asp-validation-for="@Model.GTIN"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.MPN"></label>
                            <input class="form-control" asp-for="@Model.MPN"/>
                            <span class="text-danger" asp-validation-for="@Model.MPN"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.MFC"></label>
                            <input class="form-control" asp-for="@Model.MFC"/>
                            <span class="text-danger" asp-validation-for="@Model.MFC"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.EAN"></label>
                            <input class="form-control" asp-for="@Model.EAN"/>
                            <span class="text-danger" asp-validation-for="@Model.EAN"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.UPC"></label>
                            <input class="form-control" asp-for="@Model.UPC"/>
                            <span class="text-danger" asp-validation-for="@Model.UPC"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- General -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-info"></i> General Info</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="BrandId"></label>
                            <select class="form-select" asp-for="BrandId" asp-items="@Model.Brands">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="BrandId"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="CategoryIds"></label>
                            <select class="select-category form-select" multiple="multiple" asp-for="@Model.CategoryIds"
                                    asp-items="@Model.Categories">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="CategoryIds"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Name"></label>
                            <input class="form-control" asp-for="Name"/>
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Slug"></label>
                            <input class="form-control" asp-for="Slug"/>
                            <span class="text-danger" asp-validation-for="Slug"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Display"></label>
                            <input class="form-control" asp-for="Display"/>
                            <span class="text-danger" asp-validation-for="Display"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="Breadcrumb"></label>
                            <input class="form-control" asp-for="Breadcrumb"/>
                            <span class="text-danger" asp-validation-for="Breadcrumb"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="AnchorText"></label>
                            <input class="form-control" asp-for="AnchorText"/>
                            <span class="text-danger" asp-validation-for="AnchorText"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="AnchorTitle"></label>
                            <input class="form-control" asp-for="AnchorTitle"/>
                            <span class="text-danger" asp-validation-for="AnchorTitle"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="SortOrder"></label>
                            <input class="form-control" asp-for="SortOrder"/>
                            <span class="text-danger" asp-validation-for="SortOrder"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Status"></label>
                            <select class="form-select" asp-for="@Model.Status">
                                <option value="">Select...</option>
                                <option value="@nameof(ProductStatus.Active)">@ProductStatus.Active</option>
                                <option value="@nameof(ProductStatus.Discontinued)">@ProductStatus.Discontinued</option>
                                <option value="@nameof(ProductStatus.Inactive)">@ProductStatus.Inactive</option>
                                <option value="@nameof(ProductStatus.RedirectToPrimaryCategory)">Redirect to Primary Category</option>
                                <option value="@nameof(ProductStatus.RedirectToUrl)">Redirect to Url</option>
                            </select>
                            <span class="text-danger" asp-validation-for="Status"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="RedirectUrl">Redirect URL</label>
                            <input class="form-control" asp-for="RedirectUrl" disabled="disabled"/>
                            <span class="text-danger" asp-validation-for="RedirectUrl"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="ShortDescription">Short Description</label>
                            <textarea class="form-control" rows="3" asp-for="ShortDescription"></textarea>
                            <span class="text-danger" asp-validation-for="ShortDescription"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="FullDescription"></label>
                            <div id="longDescriptionEditor" style="height: 200px;">@Html.Raw(Model.FullDescription)</div>
                            <input type="hidden" id="longDescriptionInput" asp-for="FullDescription">
                            <span asp-validation-for="FullDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="AllowReviews"></label>
                            <select class="form-select" asp-for="AllowReviews">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="AllowReviews" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="ShowAvailability"></label>
                            <select class="form-select" asp-for="ShowAvailability">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="ShowAvailability" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="FreeShipping"></label>
                            <select class="form-select" asp-for="FreeShipping">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="FreeShipping" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="IsFeatured"></label>
                            <select class="form-select" asp-for="IsFeatured">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="IsFeatured" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="IsNew"></label>
                            <select class="form-select" asp-for="IsNew">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="IsNew" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="IsBestSeller"></label>
                            <select class="form-select" asp-for="IsBestSeller">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="IsBestSeller" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="IsReturnable"></label>
                            <select class="form-select" asp-for="IsReturnable">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="IsReturnable" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Attributes -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-list"></i> Attributes</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="@Model.ProductGroupId"></label>
                            <select class="select-product form-select" asp-for="@Model.ProductGroupId"
                                    asp-items="@Model.ProductGroups" id="addProductGroup">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.ProductGroupId"></span>
                        </div>
                    </div>
                </div>
                <div class="row" id="addProductGroupAttributesDiv">

                </div>
            </div>
        </div>
        
        <!-- Stock and Price -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-dollar-sign"></i> Price & Stock</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Price"></label>
                            <input type="number" class="form-control" asp-for="Price"/>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="OldPrice"></label>
                            <input type="number" class="form-control" asp-for="OldPrice"/>
                            <span asp-validation-for="OldPrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="CostPrice"></label>
                            <input type="number" class="form-control" asp-for="CostPrice"/>
                            <span asp-validation-for="CostPrice" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MinOrderQuantity"></label>
                            <input type="number" class="form-control" asp-for="MinOrderQuantity"/>
                            <span asp-validation-for="MinOrderQuantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MaxOrderQuantity"></label>
                            <input type="number" class="form-control" asp-for="MaxOrderQuantity"/>
                            <span asp-validation-for="MaxOrderQuantity" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Stock"></label>
                            <input type="number" class="form-control" asp-for="Stock"/>
                            <span asp-validation-for="Stock" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MinStock"></label>
                            <input type="number" class="form-control" asp-for="MinStock"/>
                            <span asp-validation-for="MinStock" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Shipping -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-truck"></i> Shipping</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="AdditionalShippingCharge"></label>
                            <input type="number" class="form-control" asp-for="AdditionalShippingCharge"/>
                            <span asp-validation-for="AdditionalShippingCharge" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="UnitOfMeasureId"></label>
                            <select class="form-select" asp-for="UnitOfMeasureId" asp-items="@Model.UnitOfMeasures">
                                <option value="0">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="UnitOfMeasureId"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="QuantityPerUnitOfMeasure"></label>
                            <input class="form-control" asp-for="QuantityPerUnitOfMeasure"/>
                            <span class="text-danger" asp-validation-for="QuantityPerUnitOfMeasure"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="DeliveryWindowId"></label>
                            <select class="form-select" asp-for="DeliveryWindowId" asp-items="@Model.DeliveryWindows">
                                <option value="0">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="DeliveryWindowId"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- SEO -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-magnifying-glass"></i> SEO</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="H1"></label>
                            <input type="text" class="form-control" asp-for="H1" />
                            <span class="text-danger" asp-validation-for="H1"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="MetaTitle"></label>
                            <input type="text" class="form-control" asp-for="MetaTitle" />
                            <span class="text-danger" asp-validation-for="MetaTitle"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MetaDescription"></label>
                            <textarea class="form-control" rows="5" asp-for="MetaDescription"></textarea>
                            <span class="text-danger" asp-validation-for="MetaDescription"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MetaKeywords"></label>
                            <textarea class="form-control" rows="5" asp-for="MetaKeywords"></textarea>
                            <span class="text-danger" asp-validation-for="MetaKeywords"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-7">
            <div class="col-xl-12">
                <button type="submit" class="btn btn-primary float-end">Submit</button>
            </div>
        </div>
    </form>
</div>

@section StyleSheet
{
    <link href="~/css/select2.min.css" rel="stylesheet">
    <link href="~/css/select2-bootstrap-5-theme.min.css" rel="stylesheet"/>
    <link href="~/css/quill.snow.css" rel="stylesheet">
}

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/quill.min.js"></script>
    
    <script src="~/js/product.js"></script>
    <script>
        //Initialize Select 2
        $(document).ready(function () {
            $('.select-product').select2({
                theme: 'bootstrap-5',
                width: '100%'
            });

            $('.select-category').select2({
                placeholder: 'Select...'
            });

            toggleRedirectUrl();
            $('#Status').on('change', function () {
                toggleRedirectUrl();
            });
        });

        // Initialize Quill
        var quill = new Quill('#longDescriptionEditor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{header: [1, 2, 3, false]}],
                    [{font: []}],                               // Font family
                    ['bold', 'italic', 'underline', 'strike'],    // Formatting
                    [{color: []}, {background: []}],          // Text/Background color
                    [{list: 'ordered'}, {list: 'bullet'}],    // Lists
                    [{align: []}],                              // Alignment
                    ['link', 'image', 'blockquote', 'code-block'], // Media / blocks
                    ['clean']                                     // Clear formatting
                ]
            }
        });
        quill.on('text-change', function () {
            document.getElementById('longDescriptionInput').value = quill.root.innerHTML;
        });


        function toggleRedirectUrl() {
            const status = $('#Status').val();
            const redirectInput = $('#RedirectUrl');

            if (status === 'RedirectToUrl') {
                redirectInput.prop('disabled', false);
            } else {
                redirectInput.val('');
                redirectInput.prop('disabled', true);
            }
        }
    </script>
}
