@using Ecommerce3.Domain.Enums
@model Ecommerce3.Admin.ViewModels.Product.AddProductViewModel
<div class="content-section" xmlns="http://www.w3.org/1999/html">
    <form method="post" asp-controller="Products" asp-action="Add" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        
        <div class="d-flex justify-content-between align-items-center mb-2">
            <!-- Left side: Heading -->
            <h2 class="text-danger fw-bold fs-3 mb-0">Add Product</h2>
        </div>

        <!-- Identification -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-eye"></i> Identification</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.SKU">SKU (Stock Keeping Unit)
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.SKU"/>
                            <span class="text-danger" asp-validation-for="@Model.SKU"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.GTIN"></label>
                            <input class="form-control" asp-for="@Model.GTIN"/>
                            <span class="text-danger" asp-validation-for="@Model.GTIN"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.MPN"></label>
                            <input class="form-control" asp-for="@Model.MPN"/>
                            <span class="text-danger" asp-validation-for="@Model.MPN"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.MFC"></label>
                            <input class="form-control" asp-for="@Model.MFC"/>
                            <span class="text-danger" asp-validation-for="@Model.MFC"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.EAN"></label>
                            <input class="form-control" asp-for="@Model.EAN"/>
                            <span class="text-danger" asp-validation-for="@Model.EAN"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.UPC"></label>
                            <input class="form-control" asp-for="@Model.UPC"/>
                            <span class="text-danger" asp-validation-for="@Model.UPC"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- General -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-info"></i> General Info</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Brand <span class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.BrandId" asp-items="@Model.Brands">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.BrandId"></span>
                        </div>
                    </div>
                </div>
                <dic class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Categories <span class="text-danger">*</span></label>
                            <select class="select-brand form-select" multiple="multiple" asp-for="@Model.CategoryId"
                                    asp-items="@Model.Categories">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.CategoryId"></span>
                        </div>
                    </div>
                </dic>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.ProductGroupId"></label>
                            <select class="select-product form-select" asp-for="@Model.ProductGroupId"
                                    asp-items="@Model.ProductGroups">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.ProductGroupId"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.Name">Name
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.Name"/>
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.Slug">Slug
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.Slug"/>
                            <span class="text-danger" asp-validation-for="@Model.Slug"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.Display">Display
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.Display"/>
                            <span class="text-danger" asp-validation-for="@Model.Display"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.Breadcrumb">Breadcrumb
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.Breadcrumb"/>
                            <span class="text-danger" asp-validation-for="@Model.Breadcrumb"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.AnchorText">Anchor Text
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.AnchorText"/>
                            <span class="text-danger" asp-validation-for="@Model.AnchorText"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.AnchorTitle">Anchor Title
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.AnchorTitle"/>
                            <span class="text-danger" asp-validation-for="@Model.AnchorTitle"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.SortOrder">Sort Order
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.SortOrder"/>
                            <span class="text-danger" asp-validation-for="@Model.SortOrder"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.IsActive">Is Active?
                                <span
                                    class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.IsActive">
                                <option value="">Select</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.IsActive"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.Price">Price
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.Price"/>
                            <span class="text-danger" asp-validation-for="@Model.Price"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.OldPrice"></label>
                            <input class="form-control" asp-for="@Model.OldPrice"/>
                            <span class="text-danger" asp-validation-for="@Model.OldPrice"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.CostPrice"></label>
                            <input class="form-control" asp-for="@Model.CostPrice"/>
                            <span class="text-danger" asp-validation-for="@Model.CostPrice"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.AdditionalShippingCharge">Additional
                                Shipping
                                Charge <span class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.AdditionalShippingCharge"/>
                            <span class="text-danger" asp-validation-for="@Model.AdditionalShippingCharge"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Unit Of Measure <span class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.UnitOfMeasureId"
                                    asp-items="@Model.UnitOfMeasures">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.UnitOfMeasureId"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.QuantityPerUnitOfMeasure">Quantity Per
                                Unit
                                <span class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.QuantityPerUnitOfMeasure"/>
                            <span class="text-danger" asp-validation-for="@Model.QuantityPerUnitOfMeasure"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.Stock">Stock
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.Stock"/>
                            <span class="text-danger" asp-validation-for="@Model.Stock"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.MinStock"></label>
                            <input class="form-control" asp-for="@Model.MinStock"/>
                            <span class="text-danger" asp-validation-for="@Model.MinStock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.MinOrderQuantity">Minimum Order Quantity
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.MinOrderQuantity"/>
                            <span class="text-danger" asp-validation-for="@Model.MinOrderQuantity"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.MaxOrderQuantity"></label>
                            <input class="form-control" asp-for="@Model.MaxOrderQuantity"/>
                            <span class="text-danger" asp-validation-for="@Model.MaxOrderQuantity"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.DeliveryWindowId">Delivery Window
                                <span
                                    class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.DeliveryWindowId"
                                    asp-items="@Model.DeliveryWindows">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.DeliveryWindowId"></span>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.Status">Status
                                <span
                                    class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.Status">
                                <option value="">Select...</option>
                                <option value="@nameof(ProductStatus.Active)">@ProductStatus.Active</option>
                                <option value="@nameof(ProductStatus.Discontinued)">@ProductStatus.Discontinued</option>
                                <option value="@nameof(ProductStatus.Inactive)">@ProductStatus.Inactive</option>
                                <option value="@nameof(ProductStatus.RedirectToPrimaryCategory)">Redirect to Primary
                                    Category
                                </option>
                                <option value="@nameof(ProductStatus.RedirectToUrl)">Redirect to Url</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.Status"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.RedirectUrl">Redirect URL</label>
                            <input class="form-control" asp-for="@Model.RedirectUrl" disabled="disabled"/>
                            <span class="text-danger" asp-validation-for="@Model.RedirectUrl"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.ShortDescription"></label>
                            <textarea class="form-control" rows="5" asp-for="@Model.ShortDescription"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.FullDescription"></label>
                            <div id="longDescriptionEditor" style="height: 400px;"></div>
                            <input type="hidden" id="longDescriptionInput" name="LongDescription"
                                   asp-for="@Model.FullDescription"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.AllowReviews">Allow Reviews?
                                <span
                                    class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.AllowReviews">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.AllowReviews"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.ShowAvailability">Show Availability?
                                <span
                                    class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.ShowAvailability">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.ShowAvailability"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.FreeShipping">Free Shipping?
                                <span
                                    class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.FreeShipping">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.FreeShipping"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.IsFeatured">Is Featured?
                                <span
                                    class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.IsFeatured">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.IsFeatured"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.IsNew">Is New?
                                <span
                                    class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.IsNew">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.IsNew"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.IsBestSeller">Is Bestseller?
                                <span
                                    class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.IsBestSeller">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.IsBestSeller"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.IsReturnable">Is Returnable?
                                <span
                                    class="text-danger">*</span></label>
                            <select class="form-select" asp-for="@Model.IsReturnable">
                                <option value="">Select...</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.IsReturnable"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SEO -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-magnifying-glass"></i> SEO</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.H1"></label>
                            <input class="form-control" asp-for="@Model.H1"/>
                            <span class="text-danger" asp-validation-for="@Model.H1"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.MetaTitle">Meta Title
                                <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" asp-for="@Model.MetaTitle"/>
                            <span class="text-danger" asp-validation-for="@Model.MetaTitle"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.MetaDescription"></label>
                            <textarea class="form-control" rows="3" asp-for="@Model.MetaDescription"></textarea>
                            <span class="text-danger" asp-validation-for="@Model.MetaDescription"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.MetaKeywords"></label>
                            <textarea class="form-control" rows="3" asp-for="@Model.MetaKeywords"></textarea>
                            <span class="text-danger" asp-validation-for="@Model.MetaKeywords"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-7">
            <div class="col-xl-12">
                <button type="submit" class="btn btn-primary float-end">Submit</button>
            </div>
        </div>
    </form>
</div>

@section StyleSheet
{
    <link href="~/css/select2.min.css" rel="stylesheet">
    <link href="~/css/quill.snow.css" rel="stylesheet">
}

@section Scripts
{
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/quill.min.js"></script>
    <script>
        //Initialize Select 2
        $(document).ready(function () {
            $('.select-product, .select-brand').select2();
        });

        // Initialize Quill
        var quill = new Quill('#longDescriptionEditor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{header: [1, 2, 3, false]}],
                    [{font: []}],                               // Font family
                    ['bold', 'italic', 'underline', 'strike'],    // Formatting
                    [{color: []}, {background: []}],          // Text/Background color
                    [{list: 'ordered'}, {list: 'bullet'}],    // Lists
                    [{align: []}],                              // Alignment
                    ['link', 'image', 'blockquote', 'code-block'], // Media / blocks
                    ['clean']                                     // Clear formatting
                ]
            }
        });
        quill.on('text-change', function () {
            document.getElementById('longDescriptionInput').value = quill.root.innerHTML;
        });
    </script>
}
