@using Ecommerce3.Contracts.DTOs.KVPListItem
@using Ecommerce3.Domain.Entities
@using Ecommerce3.Domain.Enums
@model Ecommerce3.Admin.ViewModels.Product.EditProductViewModel
<div class="content-section">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <!-- Left side: Heading -->
        <h2 class="text-danger fw-bold fs-3 mb-0">Edit Product - @Model.Name</h2>
    </div>
    <form method="post" asp-action="Edit">
        @Html.AntiForgeryToken()
        
        <!-- Identification -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-eye"></i> Identification</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="SKU"></label>
                            <input class="form-control" asp-for="SKU"/>
                            <span class="text-danger" asp-validation-for="SKU"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="GTIN"></label>
                            <input class="form-control" asp-for="GTIN"/>
                            <span class="text-danger" asp-validation-for="GTIN"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MPN"></label>
                            <input class="form-control" asp-for="MPN"/>
                            <span class="text-danger" asp-validation-for="MPN"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MFC"></label>
                            <input class="form-control" asp-for="MFC"/>
                            <span class="text-danger" asp-validation-for="MFC"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="EAN"></label>
                            <input class="form-control" asp-for="EAN"/>
                            <span class="text-danger" asp-validation-for="EAN"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="UPC"></label>
                            <input class="form-control" asp-for="UPC"/>
                            <span class="text-danger" asp-validation-for="UPC"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- General -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-info"></i> General Info</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required">Brand</label>
                            <select class="form-select" asp-for="BrandId" asp-items="@Model.Brands">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="BrandId"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Categories</label>
                            <select class="select-brand form-select" multiple="multiple" asp-for="CategoryIds" asp-items="@Model.Categories">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="CategoryIds"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Name"></label>
                            <input class="form-control" asp-for="Name"/>
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Slug"></label>
                            <input class="form-control" asp-for="Slug"/>
                            <span class="text-danger" asp-validation-for="Slug"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Display"></label>
                            <input class="form-control" asp-for="Display"/>
                            <span class="text-danger" asp-validation-for="Display"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="Breadcrumb"></label>
                            <input class="form-control" asp-for="Breadcrumb"/>
                            <span class="text-danger" asp-validation-for="Breadcrumb"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="AnchorText"></label>
                            <input class="form-control" asp-for="AnchorText"/>
                            <span class="text-danger" asp-validation-for="AnchorText"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="AnchorTitle"></label>
                            <input class="form-control" asp-for="AnchorTitle"/>
                            <span class="text-danger" asp-validation-for="AnchorTitle"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="SortOrder"></label>
                            <input class="form-control" asp-for="SortOrder"/>
                            <span class="text-danger" asp-validation-for="SortOrder"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Status"></label>
                            <select class="form-select" asp-for="@Model.Status">
                                <option value="">Select...</option>
                                <option value="@nameof(ProductStatus.Active)">@ProductStatus.Active</option>
                                <option value="@nameof(ProductStatus.Discontinued)">@ProductStatus.Discontinued</option>
                                <option value="@nameof(ProductStatus.Inactive)">@ProductStatus.Inactive</option>
                                <option value="@nameof(ProductStatus.RedirectToPrimaryCategory)">Redirect to Primary Category</option>
                                <option value="@nameof(ProductStatus.RedirectToUrl)">Redirect to Url</option>
                            </select>
                            <span class="text-danger" asp-validation-for="Status"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="RedirectUrl">Redirect URL</label>
                            <input class="form-control" asp-for="RedirectUrl" disabled="disabled"/>
                            <span class="text-danger" asp-validation-for="RedirectUrl"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="ShortDescription">Short Description</label>
                            <textarea class="form-control" rows="3" asp-for="ShortDescription"></textarea>
                            <span class="text-danger" asp-validation-for="ShortDescription"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="FullDescription"></label>
                            <div id="longDescriptionEditor" style="height: 200px;">@Html.Raw(Model.FullDescription)</div>
                            <input type="hidden" id="longDescriptionInput" asp-for="FullDescription">
                            <span asp-validation-for="FullDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="AllowReviews"></label>
                            <select class="form-select" asp-for="AllowReviews">
                                <option value="">Select Status</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="AllowReviews" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="ShowAvailability"></label>
                            <select class="form-select" asp-for="ShowAvailability">
                                <option value="">Select Status</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="ShowAvailability" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="FreeShipping"></label>
                            <select class="form-select" asp-for="FreeShipping">
                                <option value="">Select Status</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="FreeShipping" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="IsFeatured"></label>
                            <select class="form-select" asp-for="IsFeatured">
                                <option value="">Select Status</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="IsFeatured" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="IsNew"></label>
                            <select class="form-select" asp-for="IsNew">
                                <option value="">Select Status</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="IsNew" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="IsBestSeller"></label>
                            <select class="form-select" asp-for="IsBestSeller">
                                <option value="">Select Status</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="IsBestSeller" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="IsReturnable"></label>
                            <select class="form-select" asp-for="IsReturnable">
                                <option value="">Select Status</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="IsReturnable" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Attributes -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-list"></i> Attributes</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="@Model.ProductGroupId"></label>
                            <select class="select-product form-select" asp-for="@Model.ProductGroupId"
                                    asp-items="@Model.ProductGroups">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.ProductGroupId"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Colour</label>
                            <select class="select-colour form-select">
                                <option value="Text">Red</option>
                                <option value="Number">Yellow</option>
                                <option value="DateOnly">Green</option>
                                <option value="Boolean">Blue</option>
                                <option value="Boolean">Orange</option>
                                <option value="Boolean">Purple</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Storage</label>
                            <select class="select-storage form-select">
                                <option value="">Select Storage</option>
                                <option value="Text">128GB</option>
                                <option value="Number">256GB</option>
                                <option value="DateOnly">512GB</option>
                                <option value="Boolean">1TB</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Stock and Price -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-dollar-sign"></i> Price & Stock</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Price"></label>
                            <input type="number" class="form-control" asp-for="Price"/>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="OldPrice"></label>
                            <input type="number" class="form-control" asp-for="OldPrice"/>
                            <span asp-validation-for="OldPrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="CostPrice"></label>
                            <input type="number" class="form-control" asp-for="CostPrice"/>
                            <span asp-validation-for="CostPrice" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MinOrderQuantity"></label>
                            <input type="number" class="form-control" asp-for="MinOrderQuantity"/>
                            <span asp-validation-for="MinOrderQuantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MaxOrderQuantity"></label>
                            <input type="number" class="form-control" asp-for="MaxOrderQuantity"/>
                            <span asp-validation-for="MaxOrderQuantity" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Stock"></label>
                            <input type="number" class="form-control" asp-for="Stock"/>
                            <span asp-validation-for="Stock" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MinStock"></label>
                            <input type="number" class="form-control" asp-for="MinStock"/>
                            <span asp-validation-for="MinStock" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Shipping -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-truck"></i> Shipping</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="AdditionalShippingCharge"></label>
                            <input type="number" class="form-control" asp-for="AdditionalShippingCharge"/>
                            <span asp-validation-for="AdditionalShippingCharge" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="UnitOfMeasureId"></label>
                            <select class="form-select" asp-for="UnitOfMeasureId" asp-items="@Model.UnitOfMeasures">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="UnitOfMeasureId"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="QuantityPerUnitOfMeasure"></label>
                            <input class="form-control" asp-for="QuantityPerUnitOfMeasure"/>
                            <span class="text-danger" asp-validation-for="QuantityPerUnitOfMeasure"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="DeliveryWindowId"></label>
                            <select class="form-select" asp-for="DeliveryWindowId" asp-items="@Model.DeliveryWindows">
                                <option value="">Select...</option>
                            </select>
                            <span class="text-danger" asp-validation-for="DeliveryWindowId"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- SEO -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-magnifying-glass"></i> SEO</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="H1"></label>
                            <input type="text" class="form-control" asp-for="H1" />
                            <span class="text-danger" asp-validation-for="H1"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="MetaTitle"></label>
                            <input type="text" class="form-control" asp-for="MetaTitle" />
                            <span class="text-danger" asp-validation-for="MetaTitle"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MetaDescription"></label>
                            <textarea class="form-control" rows="5" asp-for="MetaDescription"></textarea>
                            <span class="text-danger" asp-validation-for="MetaDescription"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="MetaKeywords"></label>
                            <textarea class="form-control" rows="5" asp-for="MetaKeywords"></textarea>
                            <span class="text-danger" asp-validation-for="MetaKeywords"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Images -->
        @await Component.InvokeAsync("Images", new
        {
            parentEntityType = typeof(Product),
            parentEntityId = Model.Id,
            imageEntityType = typeof(ProductImage),
            images = Model.Images
        })

        @* <!-- Highlight, Disclaimer --> *@
        @* <div class="card mb-4"> *@
        @*     <div class="card-header d-flex justify-content-between align-items-center"> *@
        @*         <h5 class="mb-0 text-muted py-2"> *@
        @*             <i class="fas fa-comment"></i> Highlight, Disclaimer, Etc *@
        @*         </h5> *@
        @*         <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addTextModal"> *@
        @*             <i class="fas fa-plus"></i> Add Text *@
        @*         </button> *@
        @*     </div> *@
        @*     <div class="card-body"> *@
        @*         <div class="card-body"> *@
        @*             <div class="table-responsive"> *@
        @*                 <table class="table align-middle"> *@
        @*                     <thead> *@
        @*                     <tr> *@
        @*                         <th>Discriminator</th> *@
        @*                         <th>Type</th> *@
        @*                         <th>Text</th> *@
        @*                         <th class="text-end" style="width: 20%;">Sort Order</th> *@
        @*                         <th class="text-end" style="width: 20%;">Created</th> *@
        @*                         <th class="text-center" style="width: 10%;">Action</th> *@
        @*                     </tr> *@
        @*                     </thead> *@
        @*                     <tbody> *@
        @*                     <tr> *@
        @*                         <td>XYZ</td> *@
        @*                         <td>Disclaimer</td> *@
        @*                         <td>This is a disclaimer</td> *@
        @*                         <td class="text-end">1</td> *@
        @*                         <td class="text-end">John Doe<br/>25-Sept-2025 09:15</td> *@
        @*                         <td class="text-center"> *@
        @*                             <a href="#" data-bs-toggle="modal" data-bs-target="#editTextModal"> *@
        @*                                 <i class="fas fa-edit me-2 fs-6 text-success"></i> *@
        @*                             </a> *@
        @*                             <a href="#" data-bs-toggle="modal" data-bs-target="#deleteTextModal"> *@
        @*                                 <i class="fas fa-trash fs-6 text-danger"></i> *@
        @*                             </a> *@
        @*                         </td> *@
        @*                     </tr> *@
        @*                     <tr> *@
        @*                         <td>ABC</td> *@
        @*                         <td>Highlight</td> *@
        @*                         <td>This is a Highlight</td> *@
        @*                         <td class="text-end">2</td> *@
        @*                         <td class="text-end">Jane Doe<br/>25-Sept-2025 09:15</td> *@
        @*                         <td class="text-center"> *@
        @*                             <a href="#" data-bs-toggle="modal" data-bs-target="#editTextModal"> *@
        @*                                 <i class="fas fa-edit me-2 fs-6 text-success"></i> *@
        @*                             </a> *@
        @*                             <a href="#" data-bs-toggle="modal" data-bs-target="#deleteTextModal"> *@
        @*                                 <i class="fas fa-trash fs-6 text-danger"></i> *@
        @*                             </a> *@
        @*                         </td> *@
        @*                     </tr> *@
        @*                     </tbody> *@
        @*                 </table> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
        @* *@
        @* $1$ Nutrition #1# *@
        @* <partial name="_KVPListPartial" *@
        @*          model="@Tuple.Create(typeof(Product), Model.Id, KVPListItemType.Nutrition, new List<KVPListItemDTO>())"/> *@
        @* *@
        @* $1$ FAQ #1# *@
        @* <partial name="_KVPListPartial" *@
        @*          model="@Tuple.Create(typeof(Product), Model.Id, KVPListItemType.FAQ, new List<KVPListItemDTO>())"/> *@
        @* *@
        @* <div class="card mb-4"> *@
        @*     <div class="card-header d-flex justify-content-between align-items-center"> *@
        @*         <h5 class="mb-0 text-muted py-2"> *@
        @*             <i class="fas fa-question"></i> FAQ, Nutrition, Etc *@
        @*         </h5> *@
        @*         <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addKVPModal"> *@
        @*             <i class="fas fa-plus"></i> Add Key Value *@
        @*         </button> *@
        @*     </div> *@
        @*     <div class="card-body"> *@
        @*         <div class="card-body"> *@
        @*             <div class="table-responsive"> *@
        @*                 <table class="table align-middle"> *@
        @*                     <thead> *@
        @*                     <tr> *@
        @*                         <th>Discriminator</th> *@
        @*                         <th>Type</th> *@
        @*                         <th>Key</th> *@
        @*                         <th>Value</th> *@
        @*                         <th class="text-end" style="width: 20%;">Sort Order</th> *@
        @*                         <th class="text-end" style="width: 20%;">Created</th> *@
        @*                         <th class="text-center" style="width: 10%;">Action</th> *@
        @*                     </tr> *@
        @*                     </thead> *@
        @*                     <tbody> *@
        @*                     <tr> *@
        @*                         <td>XYZ</td> *@
        @*                         <td>FAQ</td> *@
        @*                         <td>Is this product safe?</td> *@
        @*                         <td>Yes, it is WHO and FDA approved</td> *@
        @*                         <td class="text-end">1</td> *@
        @*                         <td class="text-end">John Doe <br/>25-Sept-2025 09:15</td> *@
        @*                         <td class="text-center"> *@
        @*                             <a href="#" data-bs-toggle="modal" data-bs-target="#editKVPModal"> *@
        @*                                 <i class="fas fa-edit me-2 fs-6 text-success"></i> *@
        @*                             </a> *@
        @*                             <a href="#" data-bs-toggle="modal" data-bs-target="#deleteKVPModal"> *@
        @*                                 <i class="fas fa-trash fs-6 text-danger"></i> *@
        @*                             </a> *@
        @*                         </td> *@
        @*                     </tr> *@
        @*                     <tr> *@
        @*                         <td>ABC</td> *@
        @*                         <td>Nutrition</td> *@
        @*                         <td>kCAL</td> *@
        @*                         <td>100kCAL/10grams</td> *@
        @*                         <td class="text-end">2</td> *@
        @*                         <td class="text-end">John Doe<br/>25-Sept-2025 09:15</td> *@
        @*                         <td class="text-center"> *@
        @*                             <a href="#" data-bs-toggle="modal" data-bs-target="#editKVPModal"> *@
        @*                                 <i class="fas fa-edit me-2 fs-6 text-success"></i> *@
        @*                             </a> *@
        @*                             <a href="#" data-bs-toggle="modal" data-bs-target="#deleteKVPModal"> *@
        @*                                 <i class="fas fa-trash fs-6 text-danger"></i> *@
        @*                             </a> *@
        @*                         </td> *@
        @*                     </tr> *@
        @*                     </tbody> *@
        @*                 </table> *@
        @*             </div> *@
        @*         </div> *@
        @* *@
        @*     </div> *@
        @* </div> *@

        <div class="row mb-7">
            <div class="col-xl-12">
                <button type="submit" class="btn btn-primary float-end">Submit</button>
            </div>
        </div>
    </form>
</div>

<!-- Add Text Modal -->
<div class="modal fade" id="addTextModal" tabindex="-1" aria-labelledby="addTextModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-muted" id="addTextModalLabel">
                    <i class="fas fa-plus"></i> Add Highlight, Disclaimer, Etc
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Discriminator</label>
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Type</label>
                            <select class="form-select">
                                <option value="">Select Type</option>
                                <option value="banner">Highlight</option>
                                <option value="Grid">Disclaimer</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Sort Order</label>
                            <input type="number" class="form-control" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Quill Editor Container -->
                        <div id="textAddEditor" style="height: 200px;"></div>
                        <!-- Hidden input to store HTML content for form submission -->
                        <input type="hidden" id="textAddInput">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Text Modal -->
<div class="modal fade" id="editTextModal" tabindex="-1" aria-labelledby="editTextModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-muted" id="editTextModalLabel">
                    <i class="fas fa-plus"></i> Edit Highlight, Disclaimer, Etc
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Discriminator</label>
                            <input type="text" class="form-control" value="XYZ"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Type</label>
                            <select class="form-select">
                                <option value="">Select Type</option>
                                <option value="banner">Highlight</option>
                                <option value="Grid" selected>Disclaimer</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Sort Order</label>
                            <input type="number" class="form-control" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Quill Editor Container -->
                        <div id="textEditEditor" style="height: 200px;">This is a disclaimer</div>
                        <!-- Hidden input to store HTML content for form submission -->
                        <input type="hidden" id="textEditInput">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Text Modal -->
<div class="modal fade" id="deleteTextModal" tabindex="-1" aria-labelledby="deleteTextModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header text-danger">
                <h5 class="modal-title" id="deleteTextModalLabel">
                    <i class="fas fa-trash"></i> Delete Text
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p class="text-muted">
                    Are you sure you want to delete text <span class="text-danger">Disclaimer</span>?
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Add KVP Modal -->
<div class="modal fade" id="addKVPModal" tabindex="-1" aria-labelledby="addKVPModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-muted" id="addKVPModalLabel">
                    <i class="fas fa-plus"></i> Add FAQ, Nutrition, Etc
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Discriminator</label>
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Type</label>
                            <select class="form-select">
                                <option value="">Select Type</option>
                                <option value="banner">FAQ</option>
                                <option value="Grid">Nutrition</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Sort Order</label>
                            <input type="number" class="form-control" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Key</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Quill Editor Container -->
                        <div id="valueAddEditor" style="height: 200px;"></div>
                        <!-- Hidden input to store HTML content for form submission -->
                        <input type="hidden" id="valueAddInput">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit KVP Modal -->
<div class="modal fade" id="editKVPModal" tabindex="-1" aria-labelledby="editKVPModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-muted" id="editKVPModalLabel">
                    <i class="fas fa-plus"></i> Edit FAQ, Nutrition, Etc
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Discriminator</label>
                            <input type="text" class="form-control" value="XYZ"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Type</label>
                            <select class="form-select">
                                <option value="">Select Type</option>
                                <option value="banner" selected>FAQ</option>
                                <option value="Grid">Nutrition</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Sort Order</label>
                            <input type="number" class="form-control" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Key</label>
                            <input type="text" class="form-control" value="Is this product safe?">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Quill Editor Container -->
                        <div id="valueEditEditor" style="height: 200px;">Yes, it is WHO and FDA approved</div>
                        <!-- Hidden input to store HTML content for form submission -->
                        <input type="hidden" id="valueEditInput">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete KVP Modal -->
<div class="modal fade" id="deleteKVPModal" tabindex="-1" aria-labelledby="deleteKVPModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header text-danger">
                <h5 class="modal-title" id="deleteKVPModalLabel">
                    <i class="fas fa-trash"></i> Delete Text
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p class="text-muted">
                    Are you sure you want to delete key value <span class="text-danger">FAQ</span>?
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@section StyleSheet
{
    <link href="~/css/select2.min.css" rel="stylesheet">
    <link href="~/css/quill.snow.css" rel="stylesheet">
}

@section Scripts
{
    <script src="~/js/product.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/quill.min.js"></script>
    <script src="~/js/image.js"></script>
    <script>
        //Initialize Select 2
        $(document).ready(function () {
            $('.select-product').select2({
                placeholder: 'Select Product Group'
            });

            $('.select-brand').select2({
                placeholder: 'Select Brand'
            });

            $('.select-colour').select2({
                placeholder: 'Select Colour'
            });
            $('.select-storage').select2({
                placeholder: 'Select Storage'
            });

            toggleRedirectUrl();
            $('#Status').on('change', function () {
                toggleRedirectUrl();
            });
        });

        // Initialize Quill for Long Description
        var quill = new Quill('#longDescriptionEditor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{header: [1, 2, 3, false]}],
                    [{font: []}],                               // Font family
                    ['bold', 'italic', 'underline', 'strike'],    // Formatting
                    [{color: []}, {background: []}],          // Text/Background color
                    [{list: 'ordered'}, {list: 'bullet'}],    // Lists
                    [{align: []}],                              // Alignment
                    ['link', 'image', 'blockquote', 'code-block'], // Media / blocks
                    ['clean']                                     // Clear formatting
                ]
            }
        });
        quill.on('text-change', function () {
            document.getElementById('longDescriptionInput').value = quill.root.innerHTML;
        });

        // Initialize Quill for Text Add Editor
        var textAddQuill = new Quill('#textAddEditor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{header: [1, 2, 3, false]}],
                    [{font: []}],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{color: []}, {background: []}],
                    [{list: 'ordered'}, {list: 'bullet'}],
                    [{align: []}],
                    ['link', 'image', 'blockquote', 'code-block'],
                    ['clean']
                ]
            }
        });
        textAddQuill.on('text-change', function () {
            document.getElementById('textAddInput').value = textAddQuill.root.innerHTML;
        });

        // Initialize Quill for Text Edit Editor
        var textEditQuill = new Quill('#textEditEditor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{header: [1, 2, 3, false]}],
                    [{font: []}],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{color: []}, {background: []}],
                    [{list: 'ordered'}, {list: 'bullet'}],
                    [{align: []}],
                    ['link', 'image', 'blockquote', 'code-block'],
                    ['clean']
                ]
            }
        });
        textEditQuill.on('text-change', function () {
            document.getElementById('textEditInput').value = textEditQuill.root.innerHTML;
        });

        // Initialize Quill for KVP Add Editor
        var valueAddQuill = new Quill('#valueAddEditor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{header: [1, 2, 3, false]}],
                    [{font: []}],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{color: []}, {background: []}],
                    [{list: 'ordered'}, {list: 'bullet'}],
                    [{align: []}],
                    ['link', 'image', 'blockquote', 'code-block'],
                    ['clean']
                ]
            }
        });
        valueAddQuill.on('text-change', function () {
            document.getElementById('valueAddInput').value = valueAddQuill.root.innerHTML;
        });

        // Initialize Quill for KVP Add Editor
        var valueEditQuill = new Quill('#valueEditEditor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{header: [1, 2, 3, false]}],
                    [{font: []}],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{color: []}, {background: []}],
                    [{list: 'ordered'}, {list: 'bullet'}],
                    [{align: []}],
                    ['link', 'image', 'blockquote', 'code-block'],
                    ['clean']
                ]
            }
        });
        valueEditQuill.on('text-change', function () {
            document.getElementById('valueEditInput').value = valueEditQuill.root.innerHTML;
        });

        function toggleRedirectUrl() {
            const status = $('#Status').val();
            const redirectInput = $('#RedirectUrl');

            if (status === 'RedirectToUrl') {
                redirectInput.prop('disabled', false);
            } else {
                redirectInput.val('');
                redirectInput.prop('disabled', true);
            }
        }
    </script>
}
