@model Ecommerce3.Admin.ViewModels.ProductAttribute.ProductAttributesIndexViewModel

<div class="content-section">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <!-- Left side: Heading -->
        <h2 class="text-danger fw-bold fs-3 mb-0">Product Attributes</h2>

        <!-- Right side: button -->
        <div class="d-flex gap-2">
            <a class="btn btn-primary" asp-controller="ProductAttributes" asp-action="Add">
                <i class="fas fa-plus"></i> Add New
            </a>
            <!-- Add more button here -->
        </div>
    </div>

    <!-- Main Content -->
    <form method="get" asp-controller="ProductAttributes" asp-action="Index">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label class="form-label fw-bold" asp-for="Filter.Name">Name:</label>
                        <input type="text" class="form-control" asp-for="Filter.Name" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold" asp-for="Filter.Slug">Slug:</label>
                        <input type="text" class="form-control" asp-for="Filter.Slug" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold" asp-for="Filter.Display">Display:</label>
                        <input type="text" class="form-control" asp-for="Filter.Display" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label fw-bold" asp-for="Filter.Breadcrumb">Breadcrumb:</label>
                        <input type="text" class="form-control" asp-for="Filter.Breadcrumb" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-end">
                        <button type="submit" class="btn btn-primary px-4">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="card mb-4">
        <div class="card-body">
            <!-- Attributes Table -->
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                    <tr>
                        <th style="width: 25%;">Name/Slug</th>
                        <th style="width: 25%;">Dislay/Breadcrumb</th>
                        <th style="width: 10%;">Data Type</th>
                        <th class="text-end" style="width: 10%;">Values</th>
                        <th class="text-end" style="width: 10%;">Sort Order</th>
                        <th class="text-end" style="width: 15%;">Created</th>
                        <th class="text-center" style="width: 5%;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var productAttribute in Model.ProductAttributes.Data)
                    {
                        <tr>
                            <td>
                                @productAttribute.Name<br/>
                                <span class="text-muted">@productAttribute.Slug</span>
                            </td>
                            <td>
                                @productAttribute.Display<br/>
                                <span class="text-muted">@productAttribute.Breadcrumb</span>
                            </td>
                            <td>
                                @productAttribute.DataType
                            </td>
                            <td class="text-end">
                                @productAttribute.ValuesCount.ToString()
                            </td>
                            <td class="text-end">@productAttribute.SortOrder</td>
                            <td class="text-end">@productAttribute.CreatedUserFullName <br/>@productAttribute.CreatedAt.ToString("dd-MMM-yyyy HH:mm tt")
                            </td>
                            <td class="text-center">
                                <a asp-controller="ProductAttributes"
                                   asp-action="Edit"
                                   asp-route-id="@productAttribute.Id">
                                    <i class="fas fa-edit me-2 fs-6 text-success"></i>
                                </a>
                                <a href="#" 
                                   class="delete-brand-btn text-decoration-none"
                                   data-bs-toggle="modal"
                                   data-bs-target="#deleteBrandModal"
                                   data-brand-id="@productAttribute.Id"
                                   data-brand-name="@productAttribute.Name"><i class="fas fa-trash fs-6 text-danger"></i></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <!-- Pagination + Page Size -->
            <div class="d-flex justify-content-between align-items-center mt-3">
                <!-- Left: Page Size -->
                <div class="text-muted">
                    Displaying @Model.ProductAttributes.Data.Count of @Model.ProductAttributes.TotalItems records
                </div>

                <!-- Right: Pagination -->
                <nav>
                    <cs-pager cs-pager-ul-class="pagination mb-0"
                              cs-pager-li-current-class="page-item active"
                              cs-pager-li-other-class="page-item"
                              cs-pager-link-current-class="page-link"
                              cs-pager-link-other-class="page-link"
                              cs-show-first-last="true"
                              cs-show-disabled-page-items="true"
                              cs-first-page-text="<i class='fas fa-angles-left'></i>"
                              cs-last-page-text="<i class='fas fa-angles-right'></i>"
                              cs-previous-page-html="<li class='page-item'><a href='#' class='page-link'><i class='fas fa-chevron-left'></i></a></li>"
                              cs-next-page-html="<li class='page-item'><a href='#' class='page-link'><i class='fas fa-chevron-right'></i></a></li>"
                              cs-paging-pagesize="@Model.ProductAttributes.PageSize"
                              cs-paging-pagenumber="@Model.ProductAttributes.PageNumber"
                              cs-paging-totalitems="@Model.ProductAttributes.TotalItems"
                              cs-pagenumber-param="pageNumber"
                              asp-controller="ProductAttributes"
                              asp-action="Index">
                    </cs-pager>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Delete Product Attribute Modal -->
<div class="modal fade" id="deleteProductAttributeModal" tabindex="-1" aria-labelledby="deleteProductAttributeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header text-danger">
                <h5 class="modal-title">
                    <i class="fas fa-trash"></i> Delete Attribute
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p class="text-muted">
                    Are you sure you want to delete the attribute <span class="text-danger">Colour</span>?
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" asp-controller="ProductAttributes" asp-action="Delete" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
